footer {
    background: #353b48;
}

.footer-items {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding-inline: 40px;
    color: #f5f6fa;
    height: max-content;
}

.footer-items .footer-left {
    width: 20%;
}

.footer-items .footer-left a svg {
    fill: #f5f6fa;
}

.footer-items .footer-left a {
    text-decoration: none;
    color: #f5f6fa;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.footer-items .footer-center {
    width: 60%;
    display: flex;
    justify-content: center;
}

.footer-items .footer-center ul {
    padding-left: 0;
}

.footer-items .footer-center li {
    display: inline-block;
    list-style: none;
    margin-inline: 6px;
}

.footer-items .footer-center li a {
    color: #f5f6fa;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
}

.footer-items .footer-right {
    width: 20%;
    display: flex;
    justify-content: end;
}

.footer-items .footer-right li {
    display: inline-block;
    list-style: none;
    margin-inline: 6px;
    font-size: 18px;
}

.footer-items .footer-right li a {
    color: #f5f6fa;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
}

.copyright {
    text-align: center;
    width: 100%;
    color: #f5f6fa;
    padding-bottom: 10px;
}

.copyright p {
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .footer-items {
        /* display: block; */
        padding-inline: 25px;
        text-align: center;
        padding-top: 15px;
    }

    .footer-items .footer-left {
        width: 100%;
    }

    .footer-items .footer-center,
    .footer-items .footer-right {
        width: 50%;
        float: left;
    }

    .footer-items .footer-center {
        justify-content: start;
    }

    .footer-items .footer-center li {
        display: block;
        margin-inline: 0;
        justify-content: start;
        text-align: left;
    }

    .footer-items .footer-right li {
        display: block;
        margin-inline: 0;
        justify-content: end;
        text-align: right;
        font-size: 25px;
    }
}